* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

#sidebar {
    position: fixed;
    left: 0;

    height: 100vh;
    width: 90px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: center;
    border: 1px solid red;
    background-color: rgb(226,229,232); 
}
#disc-icon {
    margin-top: 20px;
    background-image: url(./imgs/discord-icon.svg);
}
#sidebar > button {
    border-radius: 50%;
    background-size: 35px 35px;
    height: 55px;
    width: 55px;
    margin-right: 0;
}
#sidebar > button:hover {
    transition: 0.25s;
    background-color: rgb(50,0,255);
    border-radius: 20px;
}
hr {
    width: 40%;
}

/* Nav bar section */
nav {
    display: flex;
    justify-content: space-between;
    flex: 1 5 1;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 390px);
    height: 60px;
    border: 1px solid gold;
}
#left-nav {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: start;
    width: 20vw;
    z-index: -1;

}
#right-nav {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;

}
button {
    background-image: url(./imgs/inbox-icon.svg);
    border: none;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#help {
    background-image: url(./imgs/help-icon.svg);
}
#inbox {
    background-image: url(./imgs/inbox-icon.svg);
    padding-left: 40px;
}
#hide-profile {
    background-image: url(./imgs/ui-user-profile.svg);
    padding-left: 40px;
}
input[type='search']{
    background-image: url(./imgs/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-color: rgb(226,229,232);
    background-position: right;

    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
}
img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
}
#vr {
    height:30px;
    border: 0.5px solid rgb(128, 128, 128, .3);
}
p {
    margin-right: 20px;
}

/* Dm Section */
#dm-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 100vh;
    border: 1px solid black;
    left:90px;
    background-color: rgb(242,243,245);
}
#search-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(70px,5vh,70px);
    border: 1px solid green;
}
#search-friends > input {
    width: 280px;
    height: 30px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: none;
}
#friends-list {
    width: 100%;
    height: auto;
    border:1px solid salmon;
    overflow: scroll;
}
/* placeholder boxes */
#style {
    width:100%;
    height: 50px;
    border: 1px solid red;
}
#selections {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section {
    display: flex;
    width: 100%;
    gap:10px;
    align-items: center;
}