* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

#sidebar {
    position: fixed;
    left: 0;

    height: 100vh;
    width: 90px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: center;
    border: 1px solid red;
    background-color: rgb(128, 128, 128, .1);
}
#disc-icon {
    margin-top: 20px;
    background-image: url(./discord-icon.svg);
}
#sidebar > button {
    border-radius: 50%;
    background-size: 35px 35px;
    height: 55px;
    width: 55px;
    margin-right: 0;
}
#sidebar > button:hover {
    transition: 0.25s;
    background-color: rgb(50,0,255);
    border-radius: 20px;
}
hr {
    width: 40%;
}

/* Nav bar section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: clamp(200px,70vw,70vw);
    height: 70px;
    border: 1px solid gold;
}
#left-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    width: clamp(0px,40vw,50vw);
    
}
#right-nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: end;
}
button {
    background-image: url(./inbox-icon.svg);
    border: none;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    margin-right: 20px;
}
#help {
    background-image: url(./help-icon.svg);
}
#inbox {
    background-image: url(./inbox-icon.svg);
}
input[type='search']{
    background-image: url(./search-icon.svg);
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-color: rgb(220,220,220);
    background-position: right;

    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin-right: 20px;
}
img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
#vr {
    height:30px;
    border: 0.5px solid rgb(128, 128, 128, .3);
}
p {
    margin-right: 20px;
}
/* Dm Section */
#dm-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 365px;
    height: 100vh;
    border: 1px solid black;
    left:90px;
}
#search-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(70px,5vh,70px);
    border: 1px solid green;
}
#search-friends > input {
    width: 300px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#friends-list {
    width: 100%;
    height: auto;
    border:1px solid salmon;
    overflow: scroll;
}
/* placeholder boxes */
#style {
    width:200px;
    height: 200px;
    border: 1px solid red;
}